@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Vollkorn+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@500&family=Vollkorn+SC:wght@600&display=swap');
*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.card {
    margin: 0 20%;
    height: 100%;
}
.space-between {
    justify-content: space-between;
}

